{% extends 'Tuluayork/layout.html' %}

{% block content1 %}
<a class="intex" href="{% url 'weather' %}">Clima</a>
    
    
    {% if request.user.is_authenticated %}
    
    
        {% ifequal request.user.is_staff True %}
        <a class="mostrarVuelos" href="{% url 'mostarVuelos' %}">Vuelos</a>
        
        <a class="mostarusuario" href="{% url 'mostarusuario' %}">Clientes</a>
        <a class="mostrarReservas" href="{% url 'mostrarReservas' %}">Reservas</a>
        <li><a href="{% url 'logout' %}">Logout</a></li>
        
        {%endifequal%}
    
        {% ifequal request.user.is_staff False %}
        <a class="mostrarVuelosAbril" href="{% url 'mostrarVuelosAbril' %}">Vuelos</a>
        
        <a class="mostrarReservas" href="{% url 'mostrarReservas' %}">Reservas</a>
        <li><a href="{% url 'logout' %}">Logout</a></li>
        
        {%endifequal%}
        
    {% else %}
    <li><a href="{% url 'register' %}">Registrarse</a></li>
    <li><a href="{% url 'login' %}">Acceder</a></li>
    {%endif%}

{% endblock content1 %}

{% block content %}


{% endblock %}